{% extends "base.html.twig" %}
{% block body %}
    <section class="mt-4">
        <div>
            <div class="container">
                <form id="frmCurrencyConversor">
                    <div class="row mb-3">
                        <label for="inputCantidad" class="visually-hidden">Cantidad</label>
                        <div class="col-md-1">
                            <input id="inputValueCurrency" type="number" class="form-control text-end cursor-not-allowed" value="1" disabled="disabled">
                        </div>

                        <div class="col-md-2">
                            <select id="selectToCurrency" class="form-select">
                                <option value="" selected="selected">
                                    Seleccione moneda
                                </option>
                                {% for currency in toCurrency %}
                                    <option value="{{ currency }}">
                                        {{ currency }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-2">
                            <button id="btnConvert" type="button" class="btn btn-primary">
                                <i class="fas fa-sync me-2"></i>Convertir
                            </button>
                        </div>
                    </div>
                </form>
                
                <div class="row">
                    <div class="col-md-5">
                        <div id="gridCurrency"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block components %}
    <div id="alertModal" class="modal fade" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header py-1">
                    <h5 class="modal-title" id="alertModalLabel">Notificación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer py-1">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        <i class="fas fa-times me-2"></i>Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/app.js') }}?v={{ version }}"></script>
{% endblock %}
